.btn {
    margin: 8px 0 0 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    font-family: inherit;
    text-align: center;
    border: 1px solid #a9a9a9;
    box-shadow: 2px 2px 3px #a9a9a9;
    border-radius: 6px;
}
.btn:hover {
    background-color: #eee;
}
.btn:active {
    background-color: #c0c0c0;
}
